<nav class="navbar">
  <div class="container">
    <div class="ui-g">  
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle"
        (click)= "exibirMenu = !exibirMenu">
            <i class="pi pi-bars">
                
            </i>
        </a>
      </div>
    </div>
  </div>
  <ul class="navbar-menu" [hidden]="!exibirMenu">
    <li class="navbar-usuario">Renato Prandini</li>
    <li class="navbar-menuitem">
      <a routerLink="/cidades">Cidades</a>
    </li>
    <li class="navbar-menuitem">
      <a href="#">Clientes</a>
    </li>
    <li class="navbar-menuitem">
      <a href="#">Logout</a>
    </li>
  </ul>
</nav>