body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: Chartreuse;
}

@media(min-width: 1200px) {
    .container{
        width: 1150px;
        margin: 0 auto;
    }
}

